html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.container {
    height: 100%;
}


.titulo{
    font-size: 50px;
    padding-bottom: 10px;
}

.links{
    background-color:#afafaf;
    padding: 30px;
    margin-right: 0px;
    margin-left: 0px;
}

.large{
    padding: 18px 28px;
    font-size: 22px;
}


.logo{
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: table;
}